@model ViewImageViewModel

@if (!Model.ShowImage)
{
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
            @if (ViewBag.message != null)
            {
                <h3 class="alert-danger">@ViewBag.message</h3>
            }
            <h4>Please enter the password for this image:</h4>
            <form method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="text" class="form-control" placeholder="Password" name="password" />
                <br />
                <button class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img src="/uploads/@Model.ImageName" style="width: 800px;" />
            <br />
            <h3>Views: @Model.Views</h3>
        </div>
    </div>
}
